.TicketQRGenerator {
  font-size: 1.2em;
}

.TicketQRGenerator > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.TicketQRGenerator > form label {
  display: block;
  text-align: center;
  font-weight: bold;
}
