.Footer {
  background: var(--colour6);
  height: 35px;
  min-height: 35px;
}

.Footer__element {
  flex: 1;
  margin: 0;
  color: var(--colour1);
  font-style: italic;
  font-size: 0.9em;
}

.Footer__link {
  color: var(--colour1);
  text-decoration: none;
}

.Footer__first {
  text-align: left;
}

.Footer__center {
  text-align: center;
}

.Footer__last {
  text-align: right;
}

@media only screen and (max-width: 992px) {
  .Footer__element {
    font-size: 0.6em;
  }

  .Footer__first,
  .Footer__center,
  .Footer__last {
    text-align: center;
  }
}