.TicketQRDisplay {
  padding: 10px;
}

.TicketQRDisplay__buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0px;
}

.TicketQRDisplay__qr {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
